<div class="main-container container" style="margin-top:30px">
  <div id="content">
    <div class="box-top hidden-lg hidden-md hidden-sm ">
      <div class="module sohomepage-slider ">
        <div class="yt-content-slider" data-rtl="yes" data-autoplay="yes" data-autoheight="no" data-delay="4"
          data-speed="0.6" data-margin="0" data-items_column0="1" data-items_column1="1" data-items_column2="1"
          data-items_column3="1" data-items_column4="1" data-arrows="no" data-pagination="yes" data-lazyload="yes"
          data-loop="no" data-hoverpause="yes">
          <div class="yt-content-slide">
            <a href="#"><img src="https://cf.shopee.vn/file/fdfdcdf4b95987c06ee0f55dba34f86d" alt="slider1"
                class="img-responsive"></a>
          </div>
          <div class="yt-content-slide">
            <a href="#"><img src="/assets/image/catalog/slideshow/home1/slider-2.jpg" alt="slider2"
                class="img-responsive"></a>
          </div>
          <div class="yt-content-slide">
            <a href="#"><img src="/assets/image/catalog/slideSẢN PHẨM BÁN CHẠY
              show/home1/slider-3.jpg" alt="slider3"
                class="img-responsive"></a>
          </div>
        </div>
        <div class="loadeding"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 main-left sidebar-offcanvas">
        <div class="module col1 hidden-sm hidden-xs">
          <div class="module">
            <div class="banners banners2">
              <div class="banner">
                <a href="#"><img src="/assets/image/catalog/banners/banner5.jpg" alt="image"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="module">
          <div class="banners banners2">
            <div class="banner">
              <a href="#"><img src="/assets/image/catalog/banners/banner4.jpg" alt="image"></a>
            </div>
          </div>
        </div>
        <div class="module">
          <ul class="block-infos">
            <li class="info1">
              <div class="inner">
                <i class="fa fa-file-text-o"></i>
                <div class="info-cont">
                  <a href="#">Giao hàng 0đ</a>
                  <p>Hóa đơn trên 1 triệu</p>
                </div>
              </div>
            </li>
            <li class="info2">
              <div class="inner">
                <i class="fa fa-shield"></i>
                <div class="info-cont">
                  <a href="#">Bảo mật</a>
                  <p>Bảo mật thông tin</p>
                </div>
              </div>
            </li>
            <li class="info3">
              <div class="inner">
                <i class="fa fa-gift"></i>
                <div class="info-cont">
                  <a href="#">Quà tặng</a>
                  <p>Ưu đãi đặc biệt!</p>
                </div>
              </div>
            </li>
            <li class="info4">
              <div class="inner">
                <i class="fa fa-money"></i>
                <div class="info-cont">
                  <a href="#">Hoàn tiền</a>
                  <p>Trả hàng trong 30 ngày</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="module">
          <div class="banners banners4">
            <div class="banner">
              <a href="#"><img src="/assets/image/catalog/banners/banner5.jpg" alt="image"></a>
            </div>
          </div>
        </div>
        <div class="module so-popular-tag">
          <h3 class="modtitle">
            <span>Top tags</span>
          </h3>
          <div class="modcontent">
            <div class="box-content" *ngFor="let item of listTopTag">
              <a href="#">{{item.tag}}</a>
            </div>
            <!--End extraslider-inner -->
          </div>
        </div>

        <div class="module">
          <div class="banners banners5">
            <div class="banner">
              <a href="#"><img src="/assets/image/catalog/banners/banner6.jpg" alt="image"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12 main-right">
        <div class="slider-container row">
          <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12 col2">
            <div class="module sohomepage-slider ">
              <div id="myCarousel" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                  </ol>
              
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item active" style="width:100% ; height: 388px !important;">
                      <img src="/assets/image/catalog/slideshow/home1/slider-1.jpg" alt="Los Angeles" style="width:100% ; height: 100% !important;">
                    </div>
                    <div class="item" style="width:100% ; height: 388px !important;">
                      <img src="/assets/image/catalog/slideshow/home1/slider-2.jpg" alt="Chicago" style="width:100%; height: 100% !important;">
                    </div>
                  
                    <div class="item" style="width:100% ; height: 388px !important;">
                      <img src="/assets/image/catalog/slideshow/home1/slider-3.jpg" alt="New york" style="width:100%; height: 100% !important;">
                    </div>
                  </div>
              
                  <!-- Left and right controls -->
                  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                  </a>
              </div>
              <div class="loadeding"></div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 col3">
            <div class="modcontent clearfix">
              <div class="banners banners1">
                <div class="b-img">
                  <a href="#"><img src="/assets/image/catalog/banners/banner1.jpg" alt="banner1"></a>
                </div>
                <div class="b-img2">
                  <a href="#"><img src="/assets/image/catalog/banners/banner2.jpg" alt="banner2"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="banners banners3">
          <div class="banner">
            <a href="#">
              <img src="/assets/image/catalog/banners/banner3.jpg" alt="image">
            </a>
          </div>
        </div>
        <!-- Deals -->

        <div class="module deals-layout1">
          <h3 class="modtitle"><span>Sản phẩm bán chạy</span></h3>
          <div class="modcontent">
            <div id="so_deal_1" class="so-deal">
              <div class="extraslider-inner">
                <div id="ProductSelling" class="carousel slide" data-ride="carousel">
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <!-- <ng-container > -->
                      <ng-container *ngIf="!loadingProductSelling">
                        <ng-container *ngFor="let listProductSellingTemp of carasel; let indexListTemp = index;">
                          <div class="item {{indexListTemp == 0 ? 'active' : ''}}">
                            <div *ngFor="let item of listProductSellingTemp" class="col-lg-6">
                              <div class="product-thumb">
                                <div class="row" (click)="showDetailProduct(item.idProduct)">
                                  <div class="inner">
                                    <div class="item-left col-lg-6 col-md-5 col-sm-5 col-xs-12">
                                      <div class="image">
                                        <span class="label-product label-product-sale"
                                          *ngIf="item.optionDef.productDiscount[0] != undefined">
                                          -{{ item.optionDef.productDiscount[0].discount }}%
                                        </span>
                                        <a (click)="showDetailProduct(item.idProduct)" target="_self" title="{{item.name}}">
                                          <img
                                            src="http://localhost:8080/ede-file/get/image/{{item.optionDef.optionImageDef.image}}"
                                            style="width:320px  ; height:320px" alt="{{item.name}}" class="img-responsive">
                                        </a>
                                        <div class="button-group so-quickview">
                                          <button class="btn-button wishlist" type="button" title="Add to Wish List"
                                            onclick="wishlist.add('69');"><i class="fa fa-heart"></i><span>Thêm yêu thích
                                              List</span>
                                          </button>
                                          <button class="btn-button compare" type="button" title="Compare this Product"
                                            onclick="compare.add('69');"><i class="fa fa-refresh"></i><span>So sánh sản
                                              phẩm</span>
                                          </button>
                                          <a class="iframe-link btn-button quickview quickview_handler visible-lg"
                                            (click)="showDetailProduct(item.idProduct)" title="Quick view"
                                            data-fancybox-type="iframe"><i class="fa fa-eye"></i><span>Xem chi tiết</span></a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="item-right col-lg-6 col-md-7 col-sm-7 col-xs-12">
                                      <div class="caption">
                                        <h4><a href="#" target="_self" title="{{item.name}}">{{item.name}}</a>
                                        </h4>
                                        <div class="price">
                                          <div *ngIf="item.optionDef.productDiscount[0] != undefined">
                                            <span class="price-new">{{
                                              (item.optionDef.price *
                                              (100 -
                                              item.optionDef.productDiscount[0].discount)) /
                                              100 | number
                                              }}đ</span>
                                            <span class="price-old">{{ item.optionDef.price | number }}đ</span>
                                          </div>
                                          <span class="price-new" *ngIf="item.optionDef.productDiscount[0] == undefined">{{
                                            item.optionDef.price | number
                                            }}đ</span>
                                        </div>
                                        <div class="item-available">
                                          <div class="row">
                                            <p class="col-xs-6 a1">Còn: <b>{{item.optionDef.quantity}}</b>
                                            </p>
                                            <p class="col-xs-6 a2">Đã bán: <b>32</b>
                                            </p>
                                          </div>
                                          <div class="available"> <span class="color_width" data-title="75%"
                                              data-toggle="tooltip" title="75%" style="width: 75%"></span>
                                          </div>
                                        </div>
                                        Mô tả: <p
                                          style="  display: -webkit-box;-webkit-line-clamp: 4;-webkit-box-orient: vertical; overflow: hidden;">
                                          {{item.description}}</p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </ng-container>
                      </ng-container>
                    <!-- </ng-container> -->
                  </div>
              
                  <!-- Left and right controls -->
                  <!-- prev = next -->
                  <a class="left carousel-control" href="#ProductSelling" data-slide="prev" style="width: 20px; background-image: linear-gradient(to right, rgba(0, 0, 0, .0) 0%, rgba(0, 0, 0, .0) 100%);">
                    <span class="glyphicon glyphicon-chevron-left"></span> 
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#ProductSelling" data-slide="next" style="width: 20px; background-image: linear-gradient(to right, rgba(0, 0, 0, .0) 0%, rgba(0, 0, 0, .0) 100%);">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              </div>
          </div>
        </div>
        <!-- End Deals -->


        <div class="banners banners6">
          <div class="banner">
            <a href="#">
              <img src="/assets/image/catalog/banners/banner7.jpg" alt="image">
            </a>
          </div>
        </div>
        <!-- TODO -->
        <div class="module deals-layout1">
          <h3 class="modtitle"><span>Sản phẩm được đánh giá cao</span></h3>
          <div class="modcontent">
            <div id="so_deal_1" class="so-deal">
              <div class="extraslider-inner">
                <div id="ProductDaily" class="carousel slide" data-ride="carousel">
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <!-- <ng-container > -->
                      <ng-container *ngIf="!loadingProductSelling">
                        <ng-container *ngFor="let listProductSellingTemp of carasel; let indexListTemp = index;">
                          <div class="item {{indexListTemp == 0 ? 'active' : ''}}">
                            <div *ngFor="let item of listProductSellingTemp" class="col-lg-6">
                              <div class="product-thumb">
                                <div class="row" (click)="showDetailProduct(item.idProduct)">
                                  <div class="inner">
                                    <div class="item-left col-lg-6 col-md-5 col-sm-5 col-xs-12">
                                      <div class="image">
                                        <span class="label-product label-product-sale"
                                          *ngIf="item.optionDef.productDiscount[0] != undefined">
                                          -{{ item.optionDef.productDiscount[0].discount }}%
                                        </span>
                                        <a (click)="showDetailProduct(item.idProduct)" target="_self" title="{{item.name}}">
                                          <img
                                            src="http://localhost:8080/ede-file/get/image/{{item.optionDef.optionImageDef.image}}"
                                            style="width:320px  ; height:320px" alt="{{item.name}}" class="img-responsive">
                                        </a>
                                        <div class="button-group so-quickview">
                                          <button class="btn-button wishlist" type="button" title="Add to Wish List"
                                            onclick="wishlist.add('69');"><i class="fa fa-heart"></i><span>Thêm yêu thích
                                              List</span>
                                          </button>
                                          <button class="btn-button compare" type="button" title="Compare this Product"
                                            onclick="compare.add('69');"><i class="fa fa-refresh"></i><span>So sánh sản
                                              phẩm</span>
                                          </button>
                                          <a class="iframe-link btn-button quickview quickview_handler visible-lg"
                                            (click)="showDetailProduct(item.idProduct)" title="Quick view"
                                            data-fancybox-type="iframe"><i class="fa fa-eye"></i><span>Xem chi tiết</span></a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="item-right col-lg-6 col-md-7 col-sm-7 col-xs-12">
                                      <div class="caption">
                                        <h4><a href="#" target="_self" title="{{item.name}}">{{item.name}}</a>
                                        </h4>
                                        <div class="price">
                                          <div *ngIf="item.optionDef.productDiscount[0] != undefined">
                                            <span class="price-new">{{
                                              (item.optionDef.price *
                                              (100 -
                                              item.optionDef.productDiscount[0].discount)) /
                                              100 | number
                                              }}đ</span>
                                            <span class="price-old">{{ item.optionDef.price | number }}đ</span>
                                          </div>
                                          <span class="price-new" *ngIf="item.optionDef.productDiscount[0] == undefined">{{
                                            item.optionDef.price | number
                                            }}đ</span>
                                        </div>
                                        <div class="item-available">
                                          <div class="row">
                                            <p class="col-xs-6 a1">Còn: <b>{{item.optionDef.quantity}}</b>
                                            </p>
                                            <p class="col-xs-6 a2">Đã bán: <b>32</b>
                                            </p>
                                          </div>
                                          <div class="available"> <span class="color_width" data-title="75%"
                                              data-toggle="tooltip" title="75%" style="width: 75%"></span>
                                          </div>
                                        </div>
                                        Mô tả: <p
                                          style="  display: -webkit-box;-webkit-line-clamp: 4;-webkit-box-orient: vertical; overflow: hidden;">
                                          {{item.description}}</p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </ng-container>
                      </ng-container>
                    <!-- </ng-container> -->
                  </div>
              
                  <!-- Left and right controls -->
                  <!-- prev = next -->
                  <a class="left carousel-control" href="#ProductDaily" data-slide="prev" style="width: 20px; background-image: linear-gradient(to right, rgba(0, 0, 0, .0) 0%, rgba(0, 0, 0, .0) 100%);">
                    <span class="glyphicon glyphicon-chevron-left"></span> 
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#ProductDaily" data-slide="next" style="width: 20px; background-image: linear-gradient(to right, rgba(0, 0, 0, .0) 0%, rgba(0, 0, 0, .0) 100%);">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              </div>
          </div>
        </div>
        <!-- TODO Listing tabs custom -->
        <br>
        <div class="module listingtab1-custom listingtab-layout1">
          <h3 class="modtitle"><span>Sản phẩm mới nhất</span></h3>
          <div id="so_listing_tabs_2" class="so-listing-tabs first-load">
            <div class="loadeding"></div>
            <div class="ltabs-wrap">
              <div class="ltabs-tabs-container" data-delay="300" data-duration="600" data-effect="starwars"
                data-ajaxurl="" data-type_source="0" data-lg="1" data-md="1" data-sm="1" data-xs="1" data-margin="0">
              </div>
              <div class="ltabs-items-container products-list grid">
                <!--Begin Items-->
                <div class="ltabs-items ltabs-items-selected items-category-51" data-total="14">
                  <div class="ltabs-items-inner ltabs-slider">
                    <!-- item listing tab -->
                    <div class="ltabs-item">
                      <div class="item-inner product-layout transition product-grid first-item">
                        <div class="product-item-container">
                          <div class="left-block">
                            <div class="product-image-container second_img">
                              <a href="product.html" target="_self" title="Pastrami bacon">
                                <img src="/assets/image/catalog/demo/product/funiture/10.jpg"
                                  class="img-1 img-responsive" alt="Pastrami bacon">
                                <img src="/assets/image/catalog/demo/product/funiture/9.jpg"
                                  class="img-2 img-responsive" alt="Pastrami bacon">
                              </a>
                            </div>

                            <div class="button-group so-quickview cartinfo--left">
                              <button type="button" class="addToCart btn-button" title="Add to cart"
                                onclick="cart.add('60 ');">
                                <i class="fa fa-shopping-basket"></i>
                                <span>Add to cart </span>
                              </button>
                              <button type="button" class="wishlist btn-button" title="Add to Wish List"
                                onclick="wishlist.add('60');"><i class="fa fa-heart"></i><span>Add to Wish
                                  List</span>
                              </button>
                              <button type="button" class="compare btn-button" title="Compare this Product "
                                onclick="compare.add('60');"><i class="fa fa-refresh"></i><span>Compare this
                                  Product</span>
                              </button>
                              <!--quickview-->
                              <a class="iframe-link btn-button quickview quickview_handler visible-lg"
                                href="quickview.html" title="Quick view" data-fancybox-type="iframe"><i
                                  class="fa fa-eye"></i><span>Quick
                                  view</span></a>
                              <!--end quickview-->
                            </div>
                          </div>
                          <div class="right-block">
                            <div class="caption">
                              <div class="price">$42.00</div>
                              <h4><a href="product.html" title="Pastrami bacon" target="_self">Pastrami bacon</a></h4>

                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="item-inner product-layout transition product-grid">
                        <div class="product-item-container">
                          <div class="left-block">
                            <div class="product-image-container second_img">
                              <a href="product.html" target="_self" title="Chicken swinesha">
                                <img src="/assets/image/catalog/demo/product/270/15.jpg" class="img-1 img-responsive"
                                  alt="image">
                                <img src="/assets/image/catalog/demo/product/270/2.jpg" class="img-2 img-responsive"
                                  alt="image">
                              </a>
                            </div>
                            <div class="box-label"> <span class="label-product label-sale"> -16% </span>
                            </div>
                            <div class="button-group so-quickview cartinfo--left">
                              <button type="button" class="addToCart btn-button" title="Add to cart"
                                onclick="cart.add('60 ');">
                                <i class="fa fa-shopping-basket"></i>
                                <span>Add to cart </span>
                              </button>
                              <button type="button" class="wishlist btn-button" title="Add to Wish List"
                                onclick="wishlist.add('60');"><i class="fa fa-heart"></i><span>Add to Wish
                                  List</span>
                              </button>
                              <button type="button" class="compare btn-button" title="Compare this Product "
                                onclick="compare.add('60');"><i class="fa fa-refresh"></i><span>Compare this
                                  Product</span>
                              </button>
                              <!--quickview-->
                              <a class="iframe-link btn-button quickview quickview_handler visible-lg"
                                href="quickview.html" title="Quick view" data-fancybox-type="iframe"><i
                                  class="fa fa-eye"></i><span>Quick
                                  view</span></a>
                              <!--end quickview-->
                            </div>
                          </div>
                          <div class="right-block">
                            <div class="caption">
                              <div class="price"> <span class="price-new">$46.00</span>
                                <span class="price-old">$55.00</span>
                              </div>
                              <h4><a href="product.html" title="Chicken swinesha" target="_self">Chicken swinesha</a>
                              </h4>

                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item-inner product-layout transition product-grid">
                        <div class="product-item-container">
                          <div class="left-block">
                            <div class="product-image-container second_img">
                              <a href="product.html" target="_self" title="Kielbasa hamburg">
                                <img src="/assets/image/catalog/demo/product/270/14.jpg" class="img-1 img-responsive"
                                  alt="Pastrami bacon">
                                <img src="/assets/image/catalog/demo/product/270/3.jpg" class="img-2 img-responsive"
                                  alt="Pastrami bacon">
                              </a>
                            </div>
                            <div class="box-label"> <span class="label-product label-new"> New </span>
                            </div>
                            <div class="button-group so-quickview cartinfo--left">
                              <button type="button" class="addToCart btn-button" title="Add to cart"
                                onclick="cart.add('60 ');">
                                <i class="fa fa-shopping-basket"></i>
                                <span>Add to cart </span>
                              </button>
                              <button type="button" class="wishlist btn-button" title="Add to Wish List"
                                onclick="wishlist.add('60');"><i class="fa fa-heart"></i><span>Add to Wish
                                  List</span>
                              </button>
                              <button type="button" class="compare btn-button" title="Compare this Product "
                                onclick="compare.add('60');"><i class="fa fa-refresh"></i><span>Compare this
                                  Product</span>
                              </button>
                              <!--quickview-->
                              <a class="iframe-link btn-button quickview quickview_handler visible-lg"
                                href="quickview.html" title="Quick view" data-fancybox-type="iframe"><i
                                  class="fa fa-eye"></i><span>Quick
                                  view</span></a>
                              <!--end quickview-->
                            </div>
                          </div>
                          <div class="right-block">
                            <div class="caption">
                              <div class="price">$55.00</div>
                              <h4><a href="product.html" title="Kielbasa hamburg" target="_self">Kielbasa hamburg</a>
                              </h4>

                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="item-inner product-layout transition product-grid">
                        <div class="product-item-container">
                          <div class="left-block">
                            <div class="product-image-container second_img">
                              <a href="product.html" target="_self" title="Sausage cowbee">
                                <img src="/assets/image/catalog/demo/product/270/13.jpg" class="img-1 img-responsive"
                                  alt="image">
                                <img src="/assets/image/catalog/demo/product/270/4.jpg" class="img-2 img-responsive"
                                  alt="image">
                              </a>
                            </div>

                            <div class="button-group so-quickview cartinfo--left">
                              <button type="button" class="addToCart btn-button" title="Add to cart"
                                onclick="cart.add('60 ');">
                                <i class="fa fa-shopping-basket"></i>
                                <span>Add to cart </span>
                              </button>
                              <button type="button" class="wishlist btn-button" title="Add to Wish List"
                                onclick="wishlist.add('60');"><i class="fa fa-heart"></i><span>Add to Wish
                                  List</span>
                              </button>
                              <button type="button" class="compare btn-button" title="Compare this Product "
                                onclick="compare.add('60');"><i class="fa fa-refresh"></i><span>Compare this
                                  Product</span>
                              </button>
                              <!--quickview-->
                              <a class="iframe-link btn-button quickview quickview_handler visible-lg"
                                href="quickview.html" title="Quick view" data-fancybox-type="iframe"><i
                                  class="fa fa-eye"></i><span>Quick
                                  view</span></a>
                              <!--end quickview-->
                            </div>
                          </div>
                          <div class="right-block">
                            <div class="caption">
                              <div class="price">$60.00</div>
                              <h4><a href="product.html" title="Sausage cowbeea" target="_self">Sausage cowbee</a>
                              </h4>

                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="item-inner product-layout transition product-grid">
                        <div class="product-item-container">
                          <div class="left-block">
                            <div class="product-image-container second_img">
                              <a href="product.html" target="_self" title="Kielbasa hamburg">
                                <img src="/assets/image/catalog/demo/product/270/12.jpg" class="img-1 img-responsive"
                                  alt="Pastrami bacon">
                                <img src="/assets/image/catalog/demo/product/270/5.jpg" class="img-2 img-responsive"
                                  alt="Pastrami bacon">
                              </a>
                            </div>

                            <div class="button-group so-quickview cartinfo--left">
                              <button type="button" class="addToCart btn-button" title="Add to cart"
                                onclick="cart.add('60 ');">
                                <i class="fa fa-shopping-basket"></i>
                                <span>Add to cart </span>
                              </button>
                              <button type="button" class="wishlist btn-button" title="Add to Wish List"
                                onclick="wishlist.add('60');"><i class="fa fa-heart"></i><span>Add to Wish
                                  List</span>
                              </button>
                              <button type="button" class="compare btn-button" title="Compare this Product "
                                onclick="compare.add('60');"><i class="fa fa-refresh"></i><span>Compare this
                                  Product</span>
                              </button>
                              <!--quickview-->
                              <a class="iframe-link btn-button quickview quickview_handler visible-lg"
                                href="quickview.html" title="Quick view" data-fancybox-type="iframe"><i
                                  class="fa fa-eye"></i><span>Quick
                                  view</span></a>
                              <!--end quickview-->
                            </div>
                          </div>
                          <div class="right-block">
                            <div class="caption">
                              <div class="price">$75.00</div>
                              <h4><a href="product.html" title="Drumstick tempor" target="_self">Drumstick tempor</a>
                              </h4>

                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="item-inner product-layout transition product-grid">
                        <div class="product-item-container">
                          <div class="left-block">
                            <div class="product-image-container second_img">
                              <a href="product.html" target="_self" title="Balltip nullaelit">
                                <img src="/assets/image/catalog/demo/product/270/11.jpg" class="img-1 img-responsive"
                                  alt="image">
                                <img src="/assets/image/catalog/demo/product/270/6.jpg" class="img-2 img-responsive"
                                  alt="image">
                              </a>
                            </div>
                            <div class="box-label"> <span class="label-product label-new"> New </span>
                            </div>
                            <div class="button-group so-quickview cartinfo--left">
                              <button type="button" class="addToCart btn-button" title="Add to cart"
                                onclick="cart.add('60 ');">
                                <i class="fa fa-shopping-basket"></i>
                                <span>Add to cart </span>
                              </button>
                              <button type="button" class="wishlist btn-button" title="Add to Wish List"
                                onclick="wishlist.add('60');"><i class="fa fa-heart"></i><span>Add to Wish
                                  List</span>
                              </button>
                              <button type="button" class="compare btn-button" title="Compare this Product "
                                onclick="compare.add('60');"><i class="fa fa-refresh"></i><span>Compare this
                                  Product</span>
                              </button>
                              <!--quickview-->
                              <a class="iframe-link btn-button quickview quickview_handler visible-lg"
                                href="quickview.html" title="Quick view" data-fancybox-type="iframe"><i
                                  class="fa fa-eye"></i><span>Quick
                                  view</span></a>
                              <!--end quickview-->
                            </div>
                          </div>
                          <div class="right-block">
                            <div class="caption">
                              <div class="price">$80.00</div>
                              <h4><a href="product.html" title="Balltip nullaelit" target="_self">Balltip
                                  nullaelit</a>
                              </h4>

                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="item-inner product-layout transition product-grid">
                        <div class="product-item-container">
                          <div class="left-block">
                            <div class="product-image-container second_img">
                              <a href="product.html" target="_self" title="Lamboudin ribeye">
                                <img src="/assets/image/catalog/demo/product/270/10.jpg" class="img-1 img-responsive"
                                  alt="image">
                                <img src="/assets/image/catalog/demo/product/270/7.jpg" class="img-2 img-responsive"
                                  alt="image">
                              </a>
                            </div>

                            <div class="button-group so-quickview cartinfo--left">
                              <button type="button" class="addToCart btn-button" title="Add to cart"
                                onclick="cart.add('60 ');">
                                <i class="fa fa-shopping-basket"></i>
                                <span>Add to cart </span>
                              </button>
                              <button type="button" class="wishlist btn-button" title="Add to Wish List"
                                onclick="wishlist.add('60');"><i class="fa fa-heart"></i><span>Add to Wish
                                  List</span>
                              </button>
                              <button type="button" class="compare btn-button" title="Compare this Product "
                                onclick="compare.add('60');"><i class="fa fa-refresh"></i><span>Compare this
                                  Product</span>
                              </button>
                              <!--quickview-->
                              <a class="iframe-link btn-button quickview quickview_handler visible-lg"
                                href="quickview.html" title="Quick view" data-fancybox-type="iframe"><i
                                  class="fa fa-eye"></i><span>Quick
                                  view</span></a>
                              <!--end quickview-->
                            </div>
                          </div>
                          <div class="right-block">
                            <div class="caption">
                              <div class="price">$63.00</div>
                              <h4><a href="product.html" title="Lamboudin ribeye" target="_self">Lamboudin ribeye</a>
                              </h4>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end item listing tab -->
                  </div>

                </div>

                <div class="ltabs-items items-category-52 grid" data-total="14">
                  <div class="ltabs-loading"></div>

                </div>

                <div class="ltabs-items  items-category-53 grid" data-total="14">
                  <div class="ltabs-loading"></div>
                </div>


                <!--End Items-->
              </div>

            </div>

          </div>
        </div>
        <!-- end Listing tabs custom -->

      </div>
      <div class="container" id="table">
        <div class="col-sm-2">
          <aside class="content-aside" id="column-left">

          </aside>
        </div>
        <div class="col-sm-10" style="margin-top: 44px">
          <div class=" product-filter product-filter-top filters-panel" style="
              background-color: rgb(223, 223, 223);
              height: 60px;
              padding-top: 14px;
              padding-left: 20px;
            ">
            <div class="col-sm-8">
              Sắp xếp theo

              <button style="margin-left: 10px" class="btn btn-default">
                Yêu thích
              </button>
              <button style="margin-left: 10px" class="btn btn-default">
                Mới nhất
              </button>
              <button style="margin-left: 10px" class="btn btn-default">
                Giảm giá
              </button>
              &nbsp;&nbsp;
              <select style="width: 200px; height: 30px">
                <option hidden>Giá</option>
                <option value="ASC">
                  Giá: Thấp đến cao
                </option>
                <option value="DESC">
                  Giá: Cao đến thấp
                </option>
              </select>
            </div>
            <!-- Search -->
            <form class="col-sm-4">
              <div class="input-group">
                <input style="background-color: #ffff; color: black; width: 200px;border: none;" type="text"
                  class="form-control" #search placeholder="Nhập tìm kiếm..." />
                <button class=" btn input-group-addon" style="width: 50px; background-color: orangered; color: #fff;"
                  type="submit"><b>Tìm</b></button>
              </div>
            </form>
          </div>
          <div class="related titleLine products-list grid module">
            <div>
              <div *ngFor="let item of listProductAll" class="product-layout col-lg-15 col-md-4 col-sm-6 col-xs-12">
                <div class="product-item-container" style="height: 300px">
                  <div class="left-block">
                    <div class="product-image-container second_img" style="height: 150px"
                      (click)="showDetailProduct(item.idProduct)">
                      <a target="_self" title="Chicken swinesha">
                        <img src="http://localhost:8080/ede-file/get/image/{{
                          item.optionDef.optionImageDef.image
                          }}" class="img-1 img-responsive" alt="image" />
                        <img src="http://localhost:8080/ede-file/get/image/{{
                            item.optionDef.optionImageDef.image
                          }}" class="img-2 img-responsive" alt="image" />
                      </a>
                    </div>
        
                    <div class="box-label">
                      <span class="label-product label-sale" *ngIf="item.optionDef.productDiscount[0] != undefined">
                        {{ item.optionDef.productDiscount[0].discount }}%
                      </span>
                    </div>
              
                  </div>
                  <div class="right-block">
                    <div class="caption">
                      <div class="rating">
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                      </div>
                      <h4>
                        <a href="product.html" title="Chicken swinesha" target="_self"></a>
                        {{ item.name }}
                      </h4>
                      <div class="price">
                        <div *ngIf="item.optionDef.productDiscount[0] != undefined">
                          <span class="price-new">{{
                            (item.optionDef.price *
                            (100 - item.optionDef.productDiscount[0].discount)) /
                            100 | number
                            }}đ</span>
                          <span class="price-old">{{ item.optionDef.price | number }}đ</span>
                        </div>
                        <span class="price-new" *ngIf="item.optionDef.productDiscount[0] == undefined">{{ item.optionDef.price |
                          number }}đ</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a align="center" href="/load/product/filter/all?page=2">
          <button class=" btn input-group-addon" style="width: 300px; height: 40px; background-color: orangered; color: #fff; "
          type="submit">Xem thêm</button>
        </a><br><br>
      </div>
    </div>
  </div>
</div>
